<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% t = Time.now %>
    <% today = t.strftime("%A, %B %d, %Y") %>
    <p>The date is <%= today%></p>
  </body>
</html>
